:root {
    --bg-color:#191a21;
    --link-color:#e0215a;
    --roseWhite: #ffe8e5;
    --shadow: rgb(3, 3, 3);
    --purple: #d0b6e3;
    --tropical-indigo: #8D7BC8ff;
    --amethyst: #7E6BBBff;
    --royal-purple: #7765B0ff;
    --dark-purple: #171227ff;
    --rich-black: #080614ff;

  }
  
  @font-face {
    font-family: 'CoffeCake'; /*a name to be used later*/
    src: url('fonts/coffecake/CoffeCake.ttf'); /*URL to font*/
  }
  @font-face {
    font-family: 'Nunito'; /*a name to be used later*/
    src: url('/public/fonts/Nunito/Nunito-VariableFont_wght.ttf'); /*URL to font*/
  }
  
  
  html, body {
    padding:0;
    color: var(--roseWhite);
    background-attachment:fixed;
    background-color: #191a21 ;
    font-family: Nunito;
    /*max-width: 700px;*/
    margin: auto;
  }
  p{
    font-size:20px;
  }
  a {
    color:var(--link-color);  
    text-decoration: none;
  }

  nav{
    width:100%;
    height: 60px;
    top:0;
    position: fixed;
    transition: 0.3s;
    background-color: var(--bg-color);
    z-index: 7;
  }
  
  header {
    min-height:150px;
    height: max-content;
    display: flex;
    justify-content: center;
    background:linear-gradient(60deg,var(--tropical-indigo) 0%, var(--dark-purple) 100%);
    padding-top: 3%;
    margin-bottom: 40px;
  }
  .header-text{
    position:absolute;
    color:var(--roseWhite);
    font-weight: 200;
    font-size: 40px ; 
    text-align: center;
  }

  .flex {
    display:flex;
    justify-content: center;
  }
  
  article {
    border: 1px solid var(--amethyst);
		border-radius: 7px;
    box-shadow: 10px 10px 5px rgb(3, 3, 3);
    text-align: center;
    width:800px;
    margin-top:20px;
    padding: 40px;
    transition: 0.3s;
    margin-bottom: 30px;
    
  }
  
  .subtitle {
    font-size:1.4rem;
    font-weight: 400;
    border-image-source:linear-gradient(to right, var(--dark-purple) 0%,var(--royal-purple) 30%, rgba(148,187,233,1) 80%, var(--dark-purple) 100%); 
    border-image-slice: 1;
    border-bottom:1px solid;
    padding-top:20px;
    margin:10px;
  }
  
  main {
    font-size: 18px;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  footer {
    text-align: center;
    font-size:15px;
    margin-top:20px;
    height: 15vh;
  
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  button{
    cursor: pointer;
    border-radius: 5px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 14px;
    width:100px;
    border: none;
    background-color: transparent;
    color: var(--roseWhite);
  
  }
  
  button:hover, a:hover{
    color: var(--royal-purple);
  }
  
  hr{
    width:60%;
    background:linear-gradient(60deg,var(--tropical-indigo) 0%, rgba(148,187,233,1) 100%);
    height: 1px;
    border: none;
  }
  
  mark{
    background-color: var(--purple);
  }
  .icon{
    filter: brightness(0) saturate(100%) invert(90%) sepia(9%) saturate(2606%) hue-rotate(300deg) brightness(117%) contrast(118%);
    height:18px;
    padding-right: 10px;
  }
  