:root {
    --bg-color:#191a21;
    --link-color:#e0215a;
    --roseWhite: #ffe8e5;
    --shadow: rgba(3, 3, 3, 0.788);
    --purple: #d0b6e3;
    --tropical-indigo: #8D7BC8ff;
    --amethyst: #7E6BBBff;
    --royal-purple: #7765B0ff;
    --dark-purple: #171227ff;
    --rich-black: #080614ff;

  }
  
  @font-face {
    font-family: 'CoffeCake'; /*a name to be used later*/
    src: url('fonts/coffecake/CoffeCake.ttf'); /*URL to font*/
  }
  @font-face {
    font-family: 'Nunito'; /*a name to be used later*/
    src: url('/public/fonts/Nunito/Nunito-VariableFont_wght.ttf'); /*URL to font*/
  }
  
  
  html, body {
    padding:0;
    color: var(--roseWhite);
    background-attachment:fixed;
    background-color: var(--bg-color) ;
  
    font-family: Nunito;
    /*max-width: 700px;*/
    margin: auto;
  }
  p{
    font-size:20px;
    font-weight: 300px;
    line-height: 1.6;
  }
  a {
    color:var(--link-color);  
    text-decoration: none;
  }

  nav{
    background-color: var(--bg-color) ;
    width:100%;
    display: inline;
    height: 60px;
    left:0;
    position: fixed;
    transition: 0.3s;
    z-index: 7;
  }
  
  header {
    min-height:350px;
    height: max-content;
    display: block;
    justify-content: center;
    margin: 0px;
    margin-bottom: 100px;
    
    padding-top: 150px;
    box-shadow: inset rgba(0, 0, 0, 0.39) 0px -60px 22px -50px;

  }
  header p{
    position: static;
    margin-top: 10px;
    text-align: center;
  }
  .header-text{
    position: static;
    color:var(--roseWhite);
    font-weight: 200;
    font-size: 60px ; 
    text-align: center;
    margin:10px;
  }
  header hr{
    position: static;
    margin: 10px 0;
  }

  .flex {
    display:flex;
    justify-content: center;
  }
  
  article {
    border: 1px solid var(--amethyst);
		border-radius: 7px;
    box-shadow: 10px 10px 5px rgb(3, 3, 3);
    text-align: center;
    margin-top:20px;
    padding: 40px;
    transition: 0.3s;
    margin-bottom: 30px;
    
  }
  h1{
    font-size: 1.6rem;
		font-weight: 600px;
    border-image-source:linear-gradient(to right, var(--dark-purple) 0%,var(--royal-purple) 30%, rgba(148,187,233,1) 80%, var(--dark-purple) 100%); 
    border-image-slice: 1;
    border-bottom:1px solid;
  }
  h2{
    font-size: 1.2rem;
  }
  
  .subtitle {
    font-size:1.4rem;
    font-weight: 400;
    border-image-source:linear-gradient(to right, var(--dark-purple) 0%,var(--royal-purple) 30%, rgba(148,187,233,1) 80%, var(--dark-purple) 100%); 
    border-image-slice: 1;
    border-bottom:1px solid;
    padding-top:20px;
    margin:10px;
  }
  
  main {
    font-size: 18px;
    width: 1000px;
    
  }
  section{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .block{
    display:block;
  }
  
  footer {
    width: 100%;
    text-align: center;
    font-size:15px;
    margin-top:120px;
    height: 15vh;  

  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  button{
    cursor: pointer;
    border-radius: 5px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 14px;
    width:100px;
    border: none;
    background-color: transparent;
    color: var(--roseWhite);
  
  }
  
  button:hover, a:hover{
    color: var(--royal-purple);
  }
  
  hr{
    background:linear-gradient(to right, var(--dark-purple) 0%,var(--royal-purple) 30%, rgba(148,187,233,1) 80%, var(--dark-purple) 100%); 
    height: 1px;
    border: none;
  }
  
  mark{
    background-color: var(--purple);
  }
  .icon{
    filter: brightness(0) saturate(100%) invert(90%) sepia(9%) saturate(2606%) hue-rotate(300deg) brightness(117%) contrast(118%);
    height:18px;
    padding:0px;
    padding-right: 10px;
    margin:0px;
  }
  
  .nowPlaying {
    display: block;
    background-color:var(--bg-color);
    width:auto;
    max-width:300px;
    text-align: center;
    height:auto;
    border-left:1px solid var(--royal-purple);
    position:absolute;
    right:1%;
    top: 200px;
    padding-left: 15px;
    }
    .nowPlaying ul{
    text-align: left;
    }
    .post-area{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". ."
          ". .";
  
      
    }
    li::marker{
      color:var(--purple);
    }