---
import Layout from '../layouts/page.astro';
import github from "../icons/github.svg";
import ghost from "../icons/ghost-solid.svg";
import bear from "../images/bear3.png";
import cat from "../images/cat-hammer.gif";

---

<Layout title="About" bantitle="About this Blog">

<aside>

	<h1 style = "height: fit-content; border-bottom:2px solid var(--subtitle-color);">Welcome to my website!</h1> 
	
	<h2>I’m currently working on ... </h2>
	<ul>
	  <li>developing this website
		<ul>
		  <li>modernizing (hopefully past the y2k design era)</li>
		</ul>
	  </li>
	
	  <li>learning more about frameworks!</li>
	</ul>
	
	<h2>Side projects <img class="icon" src={ghost.src}></h2>
	<ul>
	  <li>Writing posts &rArr; <s>creating a biology section for this site</s></li>
	  <li>Occasional programming and CTF competitions </li>
	  <li>Comp sci club</li>
	  <li>irl commitments <img src={bear.src}></li>
	
	</ul>
	
	<h2>Future projects:</h2>
	<ul>
	  <li>Finish learning fundamentals of C and Java </li>
	  <li>Making a handy CTF guide (for keeping track of what I learn as well as a guide for others)</li>
	  <li>More security certs and online pentesting games</li>
	  <li>Studying more biology!</li>
	  <li>Learning more about computer hardware and hardware pentesting</li>
	</ul>
	 
	
	<button type="button" style="width:max-content; background-color: var(--shadow);" onclick="window.location='https://github.com/M-watermelon'"><img class="icon" src={github.src} alt="Github">Check out my github!</button>


	

		<section class="nowPlaying">
		<div class="subtitle">Current status:</div>
		<p> _(:o 」∠)_<br> back to work</p>
		  <div class = "subtitle">About me:</div>
		  <p>Hi there!! I'm an amateur programmer and hopefully, web developer.</p>
		  <img style="max-width: 50%; border: 1px solid white; border-radius: 50%;" src={cat.src}>
		  
		  <h2 class="subtitle">Hobbies:</h2>
		  <ul>
			<li>Existing</li>
			<li>Making websites</li>
			</ul>
		</section>
		
	
	  </aside>

</Layout>