---
import Layout from '../layouts/page.astro';

---

<Layout title="Archive - My Blog" bantitle="My Archive">

    <section class="block">
        <p>Here are some slideshows I have decided to post publicly. They're mostly about cybersecurity topics.</p>
    </section>
    

</Layout>