---
import Layout from '../layouts/page.astro';

---

<Layout title="Archive - My Blog" >

    <article>
        <p>Here are some slideshows I have decided to post publicly. They're mostly about cybersecurity topics.</p>
    </article>
    

</Layout>