---
import Layout from '../layouts/page.astro';
import Card from '../components/Card.astro';
---

<Layout title="Home - My Blog" >
	  <Card href="about", title="About", body="This is my personal website, mostly tech centric. I'm going to update it with new posts somewhat often. Eventually, I'll add sections for other hobbies as well! For more details, check out the about me page!"/>
	  <Card href="posts/first-post/", title="First Post!", body="My first post on this site, about how it came to exist." />
	  <article>
		<button type="button" class = "center" style = "width:200px; margin-bottom: 20px; background:linear-gradient(60deg,var(--tropical-indigo) 0%, var(--dark-purple) 140%);" onclick="window.location='https://m-watermelon.github.io/WatermelonBlog/'">My old blog</button>
		<p>Check out my old blog site since I'm not done with this one!</p>
	</article>
</Layout>
<style>
	header{
		height:30vh;
	}
</style>