---
import Layout from '../layouts/page.astro';
---
<Layout>

    <section class="block">
        <p class="subtitle">A spot for a landing page!</p>
        <p>This is my social landing page. I think I'll post more miscellaneous or creative things here.</p>
    </section>
    
</Layout>