---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
		<button type="button" class = "center" style = "margin-bottom: 10px;" onclick="window.location={href}"> Read More</button>

	
</li>
<style>
	.link-card {
		list-style: none;
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    	border: 1px solid;
    	border-image-source:linear-gradient(to right,rgb(233, 99, 157) 0%, rgba(148,187,233,1) 100%); 
    	border-image-slice: 1;
		border-radius: 7px;
    	box-shadow: 10px 10px 5px rgb(3, 3, 3);
    	max-width:800px;
    	margin:10px;
    	padding: 20px;
    	transition: 0.3s;
		display: inline;
		background-position: 100%;
	}
	
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: inherit;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}

</style>
