---
import github from "../icons/github.svg"
import { Image } from 'astro:assets';
---
<footer >
  <div class="center">
    <hr>
<p>@M-watermelon ❤ most images sourced online ❤ I did not major in UX/UI design</p>
<button type="button" onclick="window.location='https://github.com/M-watermelon'"><Image class="icon" src={github} alt="Github"/></button>
</div>

</footer>

<style>
      p{
        padding-top: 50px;
    font-size: 1rem;
  }
</style>