---
import github from "../icons/github.svg"
---
<footer class="center">
    <hr />
<p>@M-watermelon ❤ most images sourced online ❤ I did not major in UX/UI design</p>
<button type="button" onclick="window.location='https://github.com/M-watermelon'"><img class="icon" src={github.src} alt="Github"></button>


</footer>

<style>
      p{
    font-size: 1rem;
  }
</style>