---
const {title} = Astro.props
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/global.css" />
    <link rel="shortcut icon" type="image/png" href="src/images/duckie_i.png">
    <title>{title}</title>
</head>