---
interface Props {
	title: string;
}

const {title } = Astro.props;
---
<section class ="sidebar">
    <h3  class="subtitle">{title}<h3>
        <ul>
            <slot />
        </ul>

</section>

<style>
    section{
        display: block;
        background-color:var(--bg-color);
        width:auto;
        margin: 20px ;
        height:auto;
        border-left:1px solid var(--royal-purple);
        position:absolute;
        right:3vw;
        text-align: left;
        
        
    }
    @media (max-width: 1400px) {
    .sidebar{
        display: none;
    }
    }
    ul{
        list-style-type:none;
        font-size: 18px;
        font-weight: 500;
    }

</style>