---
interface Props {
	title: string;
}

const {title } = Astro.props;
---
<section>
    <h3  class="subtitle">{title}<h3>
        <ul>
            <slot />
        </ul>

</section>

<style>
    section{
        display: block;
        background-color:var(--bg-color);
        width:fit-content;
        margin: 20px ;
        height:auto;
        border-left:1px solid var(--royal-purple);
        position:absolute;
        right:2%;
        text-align: left;
        
        
    }
    ul{
        list-style-type:none;
        font-size: 18px;
        font-weight: 500;
    }

</style>