---
import type { MarkdownLayoutProps } from 'astro';
import Nav from '../components/smallnav.astro';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';

type Props = MarkdownLayoutProps<{
  title: string;
  date: string;
  desc: string;
}>;

const { frontmatter, url } = Astro.props;
---

<html lang="en">
    <Head title ={frontmatter.title} />
  <body>
    <Nav title={frontmatter.title}/>
    <main class="center" transition:animate="fade">
    <h1>{frontmatter.title}</h1>
    <p>Updated: {frontmatter.date}</p>
    <slot />
    <button type="button" style = "margin-top:40px; bottom: 10px; background-color: var(--shadow);" onclick="window.location='/Astro-Blog/'">&larr; Back</button>

    </main>
    <Footer/>
  </body>
</html>

<style>
    @font-face {
    font-family: 'Nunito'; /*a name to be used later*/
    src: url('/public/fonts/Nunito/Nunito-VariableFont_wght.ttf'); /*URL to font*/
  }
    body{
      font-family: Nunito;
    }
    main{
        min-width: 30%;
        max-width: 40%;
        padding-bottom: 30px;
    }
    a{
      color:var(--link-color);

    }
</style>